*{
	margin: 0;
	padding: 0;
}
a{
	color: white;
}

body{
	background-image: url(css/grfx/bg.png);
	background-repeat: repeat-x;
	background-size: auto;
	font-family: tahoma;
}

.titel{margin-left: 10px;
}

header{
	background-image: url(css/grfx/header.jpg);
	margin: 0px;
	height:272px ;
	width: 58%;
	margin-left: auto;
	margin-right: auto;
	}

	 a:hover{
 	color: black;
 }
a{color: white;
 text-decoration: none;
 padding-left: 10px;
 font-size: 80%;

 }

 li{
	display: inline-block;
	margin-top: 165px;
	text-align: center;
	padding-right: 20px;
}

section.Kopje1{
    margin-left: auto;
    margin-right: auto;
    width: 764px;
    height: auto;
    border: 0px white;
    padding: 10px;
    background-color: white;
}

img.foto1{
	float: left;
margin: 10px;
}

img.foto2{
	float: left;
margin: 10px;
}

img.foto3{float: right;
	
margin: 10px;}

img.foto4{
	float: right;
	margin: 10px;
}

img.foto5{
	float: left;
	margin: 10px;
}

img.foto6{
	float: left;
	margin: 10px;
}
section.Kopje2{
	background-color: white;
margin-left: auto;
margin-right: auto;
width: 58%;
}

